/* ---------------------- */
/* Gmail Basic HTML Theme */
/* ---------------------- */
@-moz-document url-prefix(https://mail.google.com/mail/u/0/h) {
  html {

    /* Colours */
    --red: #f44336;
    --blue: #1a73e8;
    --black: #222;
    --grey-very-dark: #424242;
    --grey-dark: #666;
    --grey: #d6d6d6;
    --grey-light: #eeeeee;
    --grey-very-light: #efefef;
/*     --white: #fafafa; */
    --white: #ffffff;
  }

  /* Fonts */
  * {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 14px;
  }
  
  td,
  span[style="background: #ffff88; font-weight: bold;"],
  table.ft tr:nth-of-type(3) td *,
  a.ml,
  input,
  textarea {
/*     color: red !important; */
    font-family: "Segoe UI", Roboto, Arial, sans-serif !important;
    font-size: 14px !important;
  }

  #sbq,
  body > table:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(1) table:nth-of-type(1) tr:nth-of-type(1) td:nth-of-type(1)::after,
  table.th tr td *,
  table.th tr td:nth-child(2),
  [bgcolor="#E0ECFF"][cellpadding="2"] a.nu span ,
  [bgcolor="#efefef"][cellpadding="1"][border="0"][width="100%"],
  [bgcolor="#efefef"][cellpadding="1"][border="0"][width="100%"] td,
  :not(div) [bgcolor="#efefef"][cellpadding="1"][border="0"][width="100%"] font *:not(a) {
    font-family: Roboto, Arial, sans-serif !important;
  }

  /* Elements */
  a {
    color: var(--black) !important;
    /*! text-decoration: none; */
  }

  a:hover {
    text-decoration: underline;
  }

  body {
    background: var(--white) !important;
    color: var(--black);
  }

  input[type="text"] {
    background: none;
    border: none;
    border-bottom: 1px solid var(--grey);
    color: var(--black);
    padding: 0 5px 4px 5px;
    -moz-appearance: none;
  }

  .prf input[type="radio"] {
/*! margin: 10px 5px; */
  }

  select {
    -moz-appearance: none;
    background: none;
    background: var(--grey);
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/expand_more_black_20dp.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
    border: none;
    border-radius: 100px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    font-weight: 700;
    margin: 0;
    padding: 2px 20px 2px 8px;
    position: relative;
    transition: 0.1s;
  }

  select:hover {
    color: #222;
  }

  textarea {
    -moz-appearance: none;
    background: none;
    border: 1px solid var(--grey);
    border-radius: 8px;
    color: var(--black);
    padding: 10px;
  }

  textarea:hover,
  textarea:focus {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 2px 6px 2px rgba(60,64,67,0.149);
  }

  /* ---------------- */
  /* Reusable modules */
  /* ---------------- */

  /* Buttons */
  input[type="submit"],
/*   [bgcolor="#C3D9FF"][cellpadding="2"] a.searchPageLink, */
  td[colspan="2"] .r > font:nth-child(1) a {
    background: none;
    border: none;
    border-radius: 100px;
    color: rgba(0,0,0,0.65) !important;
    cursor: pointer;
    font-weight: 700;
    margin: 0;
    padding: 3px 13px;
    /* position: relative; */
    text-decoration: none;
    transition: 0.1s;
    -moz-appearance: none;
  }

  input[type="submit"]:hover,
/*   [bgcolor="#C3D9FF"][cellpadding="2"] a.searchPageLink:hover, */
  td[colspan="2"] .r > font:nth-child(1) a:hover {
    background: #ededed;
    color: #222 !important;
  }

  input[type="submit"]:focus,
/*   [bgcolor="#C3D9FF"][cellpadding="2"] a.searchPageLink:focus, */
  td[colspan="2"] .r > font:nth-child(1) a:focus {
    filter: brightness(0.8);
  }
  
  /* Call to action button */
  input[name="nvp_bu_send"],
  .prf input[type="submit"][value="Save Changes"],
  td[bgcolor="#b5edbc"] form[name="asf"] table.h input[type="submit"][value="Search Mail"],
  table[summary="accounts settings"] input[value="Save"],
  table[summary="labels settings"] tr:last-child input[type="submit"],
  table[summary="filters settings"] input[type="submit"][value="Create a new Filter"],
  table[summary="filters settings"] input[type="submit"][value="Create Filter"],
  table[summary="forwarding and pop settings"] input[type="submit"][value="Save changes"] {
    background: var(--blue);
    color: white !important;
    padding: 10px 20px;
  }

  input[name="nvp_bu_send"]:hover,
  .prf input[type="submit"][value="Save Changes"]:hover,
  td[bgcolor="#b5edbc"] form[name="asf"] table.h input[type="submit"][value="Search Mail"]:hover,
  table[summary="accounts settings"] input[value="Save"]:hover,
  table[summary="labels settings"] tr:last-child input[type="submit"]:hover,
  table[summary="filters settings"] input[type="submit"][value="Create a new Filter"]:hover,
  table[summary="filters settings"] input[type="submit"][value="Create Filter"]:hover,
  table[summary="forwarding and pop settings"] input[type="submit"][value="Save changes"]:hover {
    background: var(--blue);
    box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451),0 1px 3px 1px rgba(26,115,232,0.302);
    color: white !important;
    filter: brightness(1.07);
  }

  input[name="nvp_bu_send"]:focus,
  .prf input[type="submit"][value="Save Changes"]:focus,
  td[bgcolor="#b5edbc"] form[name="asf"] table.h input[type="submit"][value="Search Mail"]:focus,
  table[summary="accounts settings"] input[value="Save"]:focus,
  table[summary="labels settings"] tr:last-child input[type="submit"]:focus,
  table[summary="filters settings"] input[type="submit"][value="Create a new Filter"]:focus,
  table[summary="filters settings"] input[type="submit"][value="Create Filter"]:focus,
  table[summary="forwarding and pop settings"] input[type="submit"][value="Save changes"]:focus {
    filter: brightness(0.9);
  }

  /* Delete button */
  input[type="submit"][value="Remove"]:hover,
  input[type="submit"][value="Delete"]:hover,
  input[type="submit"][value="Discard Draft"]:hover,
  input[type="submit"][value="Discard Drafts"]:hover,
  input[type="submit"][value="Delete Forever"]:hover,
  td[colspan="2"] .r > font:nth-child(1) a[href*="&a=dm"]:hover,
  input[type="submit"][value="Discard"]:hover {
    background: var(--red) !important;
    color: white !important;
  }
  
  /* Blue button on hover */
  input[type="submit"][value="Go"]:hover {
    background: var(--blue) !important;
    color: white !important;
  }

  /* Star icon */
  img[alt="star"] {
    display: none;
  }

  img[src="https://ssl.gstatic.com/ui/v1/icons/mail/images/star_on_2.gif"],
  img[alt="Unstarred"],
  img[alt="Remove star"],
  img[alt="Add star"] {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/star_googyellow500_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 0 !important;
    margin: 0 0 0 4px;
    padding: 8px;
    position: relative;
    top: 0px;
    width: 0 !important;
  }

  img[alt="Unstarred"],
  img[alt="Remove star"],
  img[alt="Add star"] {
    cursor: pointer;
    margin: 0;
    top: 2px;
  }

  img[alt="Unstarred"],
  img[alt="Add star"] {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/grade_black_20dp.png');
    opacity: 0.25;
  }

  img[alt="Unstarred"]:hover,
  img[alt="Add star"]:hover {
    opacity: 0.65;
  }

  img[alt="Remove star"]:hover {
    filter: brightness(0.85);
  }

  /* Attachment paper clip icon */
  img[src="https://ssl.gstatic.com/ui/v1/icons/mail/images/paperclip.gif"] {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/attachment_black_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 20px !important;
    margin: 0 10px;
    object-position: -20px;
    opacity: 0.54;
    width: 20px !important;
  }
  
  /* Email labels */
  table.th tr td:nth-child(3) font[color="#006633"]:not(:empty),
  table[width="98%"][cellpadding="0"] tr:nth-of-type(1) td:nth-of-type(1) a {
    background: var(--grey);
    border-radius: 4px;
    color: var(--grey-very-dark) !important;
    font-size: 11px !important;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    top: 2px;
  }
  
  /* Unstyle anchors */
  body > table:first-of-type tr:nth-of-type(2) td:nth-of-type(2) a:not(:hover),
  a[accesskey="c"],
  [bgcolor="#C3D9FF"][cellpadding="2"] a.searchPageLink:not(:hover),
  :not(div) [bgcolor="#efefef"][cellpadding="1"][border="0"][width="100%"] a:not(:hover),
    body > table:nth-of-type(2) td:nth-of-type(2) table:first-of-type td:nth-of-type(2)[align="right"], body > table:nth-of-type(2) td:nth-of-type(2) table:first-of-type td:nth-of-type(2)[align="right"] a:not(:hover),
  table.ft a:not(:hover),
  table[summary="labels settings"] a {
    text-decoration: none;
  }

  /* Remove default backgrounds */
  [bgcolor="#C3D9FF"],
  [bgcolor="#CCCCCC"],
  [bgcolor="#FAD163"]:not([role="alert"]),
  [bgcolor="#74D982"],
  [bgcolor="#e0ecff"],
  td[bgcolor="#fff7d7"],
  td[bgcolor="#b5edbc"],
  table[bgcolor="#efefef"],
  table[bgcolor="#B5EDBC"],
  table[width="100%"][cellspacing="0"][cellpadding="0"][border="0"] td[bgcolor="#eoecff"]:nth-of-type(2) {
    background: none !important;
  }

  /* ------ */
  /* Header */
  /* ------ */

  /* Nav bar for other Google services at the top of the screen */
  #gbar {
    display: none;
  }

  /* Nav bar for Gmail settings, account etc */
  #guser {
    border-bottom: 1px solid var(--grey-light);
    margin: 0 -8px;
    padding: 0 11px;
  }

  a.gb4 {
    color: var(--black) !important;
    text-decoration: none !important;
  }

  a.gb4:hover {
    text-decoration: underline !important;
  }

  /* Horizontal divider between the nav bar table and the main content table */
  .gbh {
    display: none;
  }

  /* Table containing logo and search bar */
  body > table:nth-of-type(1) {
    margin-bottom: 14px;
    padding: 0 5px;
    position: relative;
  }

  body > table:nth-of-type(1)::after {
    background: var(--grey);
    display: block;
    content: '';
    height: 1px;
    margin-left: -13px;
    position: absolute;
    width: calc(100% + 16px);
  }

  /* Search bar */
  #sbq {
    background: var(--grey-very-light) !important;
    border: 1px solid var(--grey-very-light) !important;
    border-radius: 4px !important;
    color: var(--black);
    padding: 10px;
    padding-left: 40px;
    transition: 0.1s;
    width: 100%;
    -moz-appearance: none;
  }

  #sbq:focus {
    background: var(--white) !important;
    border: 1px solid var(--grey-light) !important;
    box-shadow: 0 1px 1px grey;
  }


  body > table:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(1) table:nth-of-type(1) {
    margin: 0 auto;
  }

  body > table:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(1) table:nth-of-type(1) tr:nth-of-type(1) td:nth-of-type(1) {
    position: relative;
  }

  body > table:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(1) table:nth-of-type(1) tr:nth-of-type(1) td:nth-of-type(1)::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/search_black_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    left: 12px;
    opacity: 0.54;
    position: absolute;
    width: 20px;
  }

  body > table:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(1) table:nth-of-type(1) tr:nth-of-type(1) td:nth-of-type(1)::after {
    color: var(--grey-dark);
    content: 'Search mail';
    font-size: 16px;
    left: 40px;
    pointer-events: none;
    position: absolute;
    top: 10px;
  }

  body > table:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(1) table:nth-of-type(1) tr:nth-of-type(1) td:nth-of-type(1):focus-within::after {
    display: none;
  }

  .search-form-submit {
    display: none !important;
  }

  body > table:first-of-type tbody:first-of-type tr:nth-of-type(2) tr:first-of-type td:first-of-type {
    width: 100% !important;
  }

  body > table:first-of-type tr:nth-of-type(2) td:nth-of-type(2) {
    padding: 0 10px !important;
  }

  body > table:first-of-type tr:nth-of-type(2) td:nth-of-type(2) a {
    color: var(--grey-dark) !important;
  }

  /* Alert dialog */
  [role="alert"] {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25), 0px 2px 4px rgba(0,0,0,0.2);
    left: 50%;
    padding: 2px 0;
    position: absolute;
    transform: translate(-50%, 0);
    z-index: 99;
  }

  /* ------- */
  /* Sidebar */
  /* ------- */

  /* Compose Mail button */
  a[accesskey="c"] {
    border-radius: 50px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
    display: inline-block;
    margin: 0 0 9px 9px;
    padding: 15px 18px 15px 15px;
  }

  a[accesskey="c"]:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302),0 4px 8px 3px rgba(60,64,67,0.149);
  }

  a[accesskey="c"]:active {
    background: var(--grey-light);
  }

  a[accesskey="c"]:before {
    background-image: url('https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png');
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    margin-right: 5px;
    padding: 17px;
  }

  /* Mailbox navigation menu */
  body > table:nth-of-type(2) td[width="120"] {
    width: 250px !important;
  }

  table.m {
    margin-left: -8px;
  }

  table.m td {
    padding: 0 !important;
  }

  table.m tr:nth-of-type(n+3) a {
    border-radius: 20px !important;
    display: block;
    padding: 2px 15px !important;
    padding-left: 28px !important;
    text-decoration: none;
    transform: translateX(-14px);
  }

  table.m tr:nth-of-type(n+3) a:hover {
    background: var(--grey-light);
    text-decoration: none;
  }

  table.m tr:nth-of-type(n+2) a::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    content: '';
    display: inline-block;
    height: 20px;
    margin-left: 10px;
    margin-right: 18px;
    opacity: 0.54;
    vertical-align: bottom;
    width: 20px;
  }

  table.m tr:nth-of-type(3) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/inbox_black_20dp.png');
  }

  table.m tr:nth-of-type(3) td[bgcolor="#C3D9FF"] a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png');
    opacity: 1;
  }

  table.m tr:nth-of-type(4) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/grade_black_20dp.png');
  }

  table.m tr:nth-of-type(4) a img {
    display: none;
  }

  table.m tr:nth-of-type(5) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/send_black_20dp.png');
  }

  table.m tr:nth-of-type(6) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/insert_drive_file_black_20dp.png');
  }

  table.m tr:nth-of-type(7) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/mail_black_20dp.png');
  }

  table.m tr:nth-of-type(8) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/report_black_20dp.png');
  }

  table.m tr:nth-of-type(9) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/delete_black_20dp.png');
  }

  table.m tr:nth-of-type(11) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/person_black_20dp.png');
  }

  table.m a[href="?&v=cl"] {
    display: none !important;
  }

  /* Current mailbox */
  body > table:nth-of-type(2) td:nth-of-type(1) table tr:nth-of-type(3) td[bgcolor="#C3D9FF"]:first-of-type a {
    color: #d93025 !important;
    background: #fce8e6;
  }

  body > table:nth-of-type(2) td:nth-of-type(1) table tr:nth-of-type(n+4) td[bgcolor="#C3D9FF"]:first-of-type a,
  body > table:nth-of-type(2) td:nth-of-type(1) table tr:nth-of-type(n+4) td[bgcolor="#CCCCCC"]:first-of-type a{
    background: var(--grey);
  }

  /* Labels menu */
  table.l {
    margin-left: -8px;
  }

  table.l h2,
  table.l br {
    display: none !important;
  }

  table.l a {
    border-radius: 30px;
    display: block;
    margin: 0 !important;
    margin-left: -4px !important;
    padding: 2px 15px !important;
    padding-left: 24px !important;
    text-decoration: none;
    transform: translateX(-12px);
    white-space: nowrap;
  }

  table.l a:hover {
    background: var(--grey-light);
  }

  table.l a font {
    color: var(--black) !important;
  }

  table.l a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/label_black_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    content: '';
    display: inline-block;
    height: 20px;
    margin-left: 10px;
    margin-right: 18px;
    opacity: 0.54;
    vertical-align: bottom;
    width: 20px;
  }

  table.l .ml::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/settings_black_20dp.png');
  }
  /* ------- */
  /* Mailbox */
  /* ------- */

  /* Give a margin to main body */
  body > table:nth-child(16) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) {
    padding-right: 20px !important;
  }

  /* Mailbox refresh button */
  body > table:nth-of-type(2) td:nth-of-type(2) table:first-of-type a.searchPageLink {
    display: none;
  }

  body > table:nth-of-type(2) td:nth-of-type(2) table:first-of-type td[align="right"] a.searchPageLink {
    display: block !important;
    font-size: 12px !important;
  }

  /* Page number */ 
  body > table:nth-of-type(2) td:nth-of-type(2) table:first-of-type td:nth-of-type(2)[align="right"], body > table:nth-of-type(2) td:nth-of-type(2) table:first-of-type td:nth-of-type(2)[align="right"] b {
    color: var(--grey-dark) !important;
    font-size: 0.9em !important;
    font-weight: 400 !important;
  }

  /* Main mailbox */
  table.th {
    border-collapse: collapse;
    margin: 10px 0;
  }

  /* Individual emails */
  table.th tr {
    position: relative;
  }

  table.th tr::after {
    border-top: 1px solid var(--grey);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    pointer-events: none;
    top: -1px;
    width: 100%;
  }

  table.th tr:last-child::after {
    /*! border-bottom: 1px solid var(--grey) !important; */
  }

  table.th tr:hover::after {
    box-shadow: inset 1px 0 0 #dadce0,inset -1px 0 0 #dadce0,0 -1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 99;
  }

  table.th tr td {
    padding: 3px 10px !important;
  }

  table.th tr td * {
    letter-spacing: .2px;
  }

  /* Empty email row */
  table.th tr td[bgcolor="#ffffff"] {
    background: var(--grey-light);
    border-bottom: 1px solid var(--grey) !important;
    display: flex;
    height: 100% !important;
  }

  table.th tr td[bgcolor="#ffffff"]::after {
    color: var(--grey-dark);
    content: 'No emails';
    display: inline-block;
    margin-left: -4px;
    padding: 25px 0;
    position: relative;
    text-align: center;
    width: 100%;
  }

  /* Hide empty email row only when there are other emails on the page */
  table.th tr:not(:only-child) td[bgcolor="#ffffff"] {
    display: none;
  }

  tr:last-child:not([style])::after {
    border-bottom: none !important;
  }

  /* Unread emails */
  table.th tr[bgcolor="#ffffff"] {
    background: var(--white) !important;
  }

  /* Read emails */
  table.th tr[bgcolor="#e8eef7"] {
    background: var(--grey-very-light) !important;
  }
  
  /* Make cells behave correctly; all are fixed width apart from the subject which expands */
  table.th tr td:nth-of-type(1),
  table.th tr td:nth-of-type(2),
  table.th tr td:nth-of-type(3),
  table.th tr td:nth-of-type(4) {
    width: auto !important;
  }
  table.th tr td:nth-of-type(1),
  table.th tr td:nth-of-type(2),
  table.th tr td:nth-of-type(4) {
    width: 0 !important;
  }

  /* Checkbox */
  table.th tr td:nth-of-type(1) img[src="https://ssl.gstatic.com/ui/v1/icons/mail/images/cleardot.gif"] {
    display: none;
  }

  table.th tr[bgcolor="#ffffff"] td:nth-of-type(1),
  table.th tr[bgcolor="#E8EEF7"] td:nth-of-type(1) {
    white-space: nowrap;
  }

  /* Email sender */
  table.th tr td:nth-child(2) {
    padding-left: 0 !important;
    max-width: 150px;
/*     min-width: 100px; */
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
/*     width: 10px !important; */
  }

  /* Email subject */
  table.th tr td:nth-child(3) {
    max-width: 200px !important;
/*     width: initial !important; */
  }

  span.ts {
    display: flex !important;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  span.ts *,
  span.ts:first-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Labels */
  table.th tr td:nth-child(3) font[color="#006633"]:not(:empty) {
    margin-right: 7px;
  }

  span.ts font[color="#7777CC"] {
    color: var(--grey-dark) !important;
    flex-shrink: 999999999;
    overflow: hidden;
    padding-left: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.ts font[size="1"] {
    overflow: visible;
  }

  /* Email date */  
  table.th tr td:nth-child(4),
  table.th tr td:nth-child(4) b {
    font-size: 12px !important;
  }

  /* Bottom of page information; inbox storage used etc */
  table.ft {
    color: var(--grey-dark) !important;
    font-size: 0.9em;
    margin-top: 50px !important;
    width: 100%
  }

  table.ft a {
    color: var(--grey-dark) !important;
    font-size: 0.9em !important;
  }

  table.ft tr:nth-of-type(2) td {
    display: flex;
    justify-content: space-between;
    width: 100%
  }

  table.ft tr:nth-of-type(2) td * {
    font-size: 0.9em !important;
  }

  table.ft tr:first-of-type {
    display: none;
  }

  table.ft tr:nth-of-type(2) td > *:nth-child(3) {
    display: none;
  }

  /* Current mailbox usage */
  table.ft tr:nth-of-type(2) td > *:nth-child(1) {
    color: var(--grey-dark) !important;
    font-weight: 400 !important;
    max-width: 150px;
    text-align: left;
  }

  /* Other locations the account is open */
  table.ft tr:nth-of-type(2) td > *:nth-child(2) {
    max-width: 250px;
    text-align: right;
  }

  table.ft tr:nth-of-type(2) td > *:nth-child(2) a {
    font-size: 1em !important;
  }

  table.ft tr:nth-of-type(3) td {
    display: block;
    margin-top: 25px;
  }

  /* ----------------- */
  /* Individual emails */
  /* ----------------- */

  /* Pad the main body */
  [bgcolor="#efefef"][cellpadding="1"] {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  body > table:nth-of-type(2) td:nth-of-type(2) table[align="center"][border="0"][cellpadding="0"][cellspacing="0"][width="98%"] {
    margin-bottom: 10px;
    padding: 0 17px !important;
  }

  td[align="right"] > table.ac {
    padding-right: 12px;
  }

  /* Heading/labels */
  table[width="98%"] tr:nth-of-type(1) td:nth-of-type(1) h2 * {
    font-size: 20px !important;
  }

  table[width="98%"][cellpadding="0"] tr:nth-of-type(1) td:nth-of-type(1) a {
    font-size: 1em !important;
    position: relative;
    top: -2px;
  }

  table[width="98%"][cellpadding="0"] tr:nth-of-type(1) td:nth-of-type(1) a font {
    color: var(--grey-very-dark) !important;
    font-size: 0.85em !important;
/*     top: -1px; */
/*     position: relative; */
  }

  /* Number of hidden emails dialog */
  table[width="98%"][cellspacing="0"][cellpadding="1"][border="0"][bgcolor="#cccccc"][align="center"] table[bgcolor="#E2E2E2"] td[height="35"][align="center"] {
    background: #e2e2e2;
    box-shadow: 0 1px 0 0px var(--grey);
    position: relative;
    top: -1px;
  }
  
  /* Right hand buttons; expand, print, new window */
  table.ac a.nu {
    border-radius: 100px;
    margin: 0 !important;
    padding: 8px 5px !important;
    position: relative;
    text-decoration: none;
    transition: 0.1s;
  }

  table.ac a.nu span {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    bottom: -27px;
    color: var(--white);
    display: none;
    font-size: 12px !important;
    text-decoration: none !important;
    padding: 2px 7px;
    position: absolute;
    pointer-events: none;
    white-space: nowrap;
    z-index: 99;
   }

  table.ac img[alt="Expand all messages"] + span.u {
    left: -17px;
  }

  table.ac img[alt="Print conversation"] + span.u {
    left: -1px;
  }

  table.ac img[alt="Open conversation in new window"] + span.u {
    left: -23px;
  }

  table.ac a.nu img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 0 !important;
    left: 2px;
    margin: 0;
    opacity: 0.65;
    padding: 12px;
    position: relative;
    top: -2px;
    width: 0 !important;
  }

  table.ac a.nu img[src="https://ssl.gstatic.com/ui/v1/icons/mail/images/expand_icon.gif"] {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/expand_all_black_20dp.png');
  }

  table.ac a.nu img[src="https://ssl.gstatic.com/ui/v1/icons/mail/images/print_icon.gif"] {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/print_black_20dp.png');
  }

  table.ac a.nu img[src="https://ssl.gstatic.com/ui/v1/icons/mail/images/tearoff_icon.gif"] {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/open_in_new_black_20dp.png');
  }

  table.ac a.nu:hover {
    background: #ededed;
  }

  table.ac a.nu:hover span {
    display: inline !important;
  }

  table.ac a.nu:hover img {
    opacity: 0.85;
  }

  table.ac a.nu:active {
    background: rgba(0, 0, 0, 0.35);
  }

  /* Email details */
  [bgcolor="#efefef"][cellpadding="1"][border="0"][width="100%"] {
    background: none;
    border-bottom: 1px solid var(--grey) !important;
    padding: 20px 0px;
  }

  .qr {
    border-top: 1px solid var(--white) !important;
    position: relative;
    top: -1px;
  }
  
  :not(div) [bgcolor="#efefef"][cellpadding="1"][border="0"][width="100%"] a font {
    text-decoration-color: var(--black);
  }

  [bgcolor="#efefef"][cellpadding="1"][border="0"][width="100%"] td,
  :not(div) [bgcolor="#efefef"][cellpadding="1"][border="0"][width="100%"] font *:not(a) {
    color: var(--black);
    letter-spacing: 0.02em;
  }

  [bgcolor="#efefef"][cellpadding="1"][border="0"][width="100%"] td:first-child img {
    margin-right: 5px;
  }

  body > table:nth-child(16) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > table:nth-child(4) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(5) > tbody:nth-child(1) > tr:nth-child(1) td:first-child,
  body > table:nth-child(16) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > table:nth-child(4) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(5) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1),
  [bgcolor="#efefef"][cellpadding="1"][border="0"][width="100%"] tr td {
    color: var(--grey-dark);
    font-size: 12px !important;
  }

  body > table:nth-child(16) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > table:nth-child(4) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(5) > tbody:nth-child(1) > tr:nth-child(1) td:first-child {
    line-height: 30px
  }

  body > table:nth-child(16) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2) > table:nth-child(4) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(5) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) {
    line-height: 0px;
    padding-bottom: 15px;
  }

  h3 > a > font:nth-child(1) > b:nth-child(1),
  h3 > font:nth-child(1) > b:nth-child(1) {
    margin-right: 5px;
  }

  /* Reply to email controls */
  td[colspan="2"] .r {
    margin: 0 -18px 5px -18px;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 15px;
    padding: 25px 0 !important;
  }

  td[colspan="2"] .r > font:nth-child(1) {
    font-size: 0 !important;
    line-height: 22px;
  }

  td[colspan="2"] .r > font:nth-child(1) a {
    margin: 5px;
    white-space: nowrap;
  }

  /* Email content */
  .msg {
    background: var(--white);
    border: 1px solid var(--white);
    color: initial !important;
    margin: -1px;
    padding-bottom: 20px;
    padding-left: 0;
    padding: 30px 0 !important;
  }
  
  .msg a {
    color: unset !important;
    font-family: unset !important;
    font-size: unset !important;
    text-decoration: underline !important;

  }

  /* Quick reply */
  .qr > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > table:nth-child(1) {
    border: 1px solid var(--grey) !important;
    border-radius: 8px;
    margin: 20px;
    padding: 30px;
    /*! max-width: 100%; */
    /*! width: 100%; */
  }

  .qr > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > table:nth-child(1):hover,
  .qr > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > table:nth-child(1):focus-within {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 2px 6px 2px rgba(60,64,67,0.149);
  }

  .qr > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > b:nth-child(1) {
    display: none;
  }

  .qr > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(3) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > b:nth-child(1),
  label[for="reply"] b,
  label[for="replyall"] b{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    display: inline-block;
    float: left;
    font-size: 0 !important;
    height: 20px;
    margin-right: 6px;
    opacity: 0.5;
    width: 20px;
  }

  .qr > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(3) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > b:nth-child(1),
  label[for="reply"] b {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/reply_black_20dp.png');
  }

  label[for="replyall"] b {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/reply_all_black_20dp.png');
  }

  .qr > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(3) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1),
  label[for="reply"],
  label[for="replyall"] {
    color: var(--grey-dark);
  }

  .qr > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(3) > tr:nth-child(2) > td:nth-child(1) > textarea:nth-child(1) {
    border: none;
    height: 150px !important;
    margin: 15px 0;
    /*! width: 100%; */
  }

  .qr > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(3) > tr:nth-child(2) > td:nth-child(1) > textarea:nth-child(1):hover,
  .qr > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(3) > tr:nth-child(2) > td:nth-child(1) > textarea:nth-child(1):focus {
    box-shadow: none;
  }
  
  .qr textarea {
    width: initial !important;
  }

  input[name="nvp_bu_send"] {
    border-radius: 5px;
    left: 0;
    padding: 8px 20px;
    margin-right: 10px;
    order: -99;
  }

  .qr input[type="submit"] {
    margin-bottom: -3px;
  }

  input#haot {
    position: relative;
    top: 2px;
  }

  label[for="haot"] {
    color: var(--grey-dark);
  }

  input#haot:hover + label[for="haot"] {
    color: var(--black);
  }

  /* ------------------ */
  /* Compose email page */
  /* ------------------ */
  table[width="100%"][cellspacing="0"][cellpadding="0"][border="0"] td[bgcolor="#e0ecff"] form[name="f"][enctype="multipart/form-data"][method="POST"] {
    border-radius: 8px;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
    margin: 0 auto;
    max-width: 650px
  }
  
  /* Heading */
  table[width="100%"][cellspacing="0"][cellpadding="0"][border="0"] td[bgcolor="#e0ecff"] form[name="f"][enctype="multipart/form-data"][method="POST"]::before {
    background: var(--grey-very-dark);
    border-radius: 7px 7px 0 0;
    color: white;
    content: 'New Message';
    display: block;
    font-weight: bold;
/*     order: -99; */
    padding: 10px 12px;
/*     width: 100%; */
  }

  /* Reorder the input fields */
  .compose tbody {
    display: flex;
    flex-direction: column;
  }

  .compose tr:nth-child(1) {
    order: -98;
  }

  .compose tr:nth-child(2) {
    order: -97;
  }

  .compose tr:nth-child(3) {
    order: -96;
  }

  .compose tr:nth-child(4) {
    order: -95;
  }

  .compose tr:last-child {
    order: -94;
  }

  .compose tr td:last-child {
    display: block;
  }

  /* Hide first column to the compose table and add back in elements so we can use them as psuedo placeholder text later on */
  .compose tr {
    position: relative;
  }

  .compose tr td:first-child {
    display: none;
  }

  .compose tr:nth-child(1) td:last-child::before {
    content: 'To';
  }

  .compose tr:nth-child(2) td:last-child::before {
    content: 'Cc';
  }

  .compose tr:nth-child(3) td:last-child::before {
    content: 'Bcc';
  }

  .compose tr:nth-child(4) td:last-child::before {
    content: 'Subject';
  }

  .compose tr:nth-child(6) td:last-child::before {
    content: 'Attachments';
  }

  /* Restrict the width of the input areas */
  .compose .i,
  .compose .mi {
    width: 100% !important;
  }

  /* Text inputs */
  .compose textarea,
  .compose input[type="text"] {
    padding-bottom: 7px;
    padding-top: 7px;
  }

  .compose textarea {
    border: none;
    border-bottom: 1px solid var(--grey);
  }

  /* Pad the main body */
/*   table[width="100%"][cellspacing="0"][cellpadding="0"][border="0"] td[bgcolor="#e0ecff"] form[name="f"][enctype="multipart/form-data"][method="POST"] {
    margin: 0 auto;
    max-width: 650px;
    padding: 0 10px 30px 10px;
  } */
   
  .compose tbody {
    padding: 5px 0 20px 0;
  }
  
  .compose tr td:last-child {
    padding: 0 20px !important;
  }
  
  .compose tr:nth-child(6),
  .compose tr:nth-child(7) {
    margin: 0 -8px
  }

  /* Buttons at the top */
  form[name="f"][enctype="multipart/form-data"][method="POST"] table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"][bgcolor="#C3D9FF"]:first-of-type {
    display: none;
  }

  /* Buttons at the bottom */
  form[name="f"][enctype="multipart/form-data"][method="POST"] table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"][bgcolor="#C3D9FF"]:last-of-type {
    /*! border-top: 1px solid var(--grey) !important; */
    /*! margin-top: 20px; */
    padding: 0 20px;
  }

  form[name="f"][enctype="multipart/form-data"][method="POST"] table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"][bgcolor="#C3D9FF"]:last-of-type td:first-of-type {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
  }

  form[name="f"][enctype="multipart/form-data"][method="POST"] table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"][bgcolor="#C3D9FF"]:last-of-type td:first-of-type font[color="#993300"] {
    display: block;
    width: 100%;
  }

  form[name="f"][enctype="multipart/form-data"][method="POST"] table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"][bgcolor="#C3D9FF"]:last-of-type * {
    margin-bottom: 20px;
  }

  form[name="f"][enctype="multipart/form-data"][method="POST"] table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"][bgcolor="#C3D9FF"]:last-of-type td:last-of-type {
    border-top: 1px solid var(--grey);
    padding-top: 30px !important;
    vertical-align: top;
  }

  /* To, Cc, Bcc, Subject */
  .compose tr:nth-child(-n+4) td:last-child {
/*     padding-bottom: 15px !important; */
    padding: 0 20px !important;
  }

  .compose tr:nth-child(-n+4) td:last-child::before {
    color: var(--grey-dark);
    position: absolute;
    /*! left: 10px; */
    top: 7px;
  }

  .compose tr:nth-child(1) td:last-child::before {
    top: 8px;
  }

  .compose tr:nth-child(-n+4) td:last-child textarea {
    border-radius: 0;
    box-shadow: none;
    height: 36px;
    padding-left: 22px;
    padding-right: 22px;
    /*! padding-top: 5px; */
  }

  .compose tr:nth-child(-n+4) td:last-child input {
    padding-left: 22px;
  }

  .compose tr:nth-child(3) td:last-child input {
    padding-left: calc(22px + 5px);
  }

  .compose tr:nth-child(4) td:last-child input {
    padding-left: calc(22px + 28px);
  }

  /* Attachments */
  .compose tr:nth-child(6) td:last-child::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    display: block;
    left: 7px;
    margin: 20px 0;
    position: relative;
    width: 100%;
  }

  .compose tr:nth-child(5) {
    display: none;
  }

  .compose tr:nth-child(6) {
    color: var(--grey-dark);
  }

  .compose tr:nth-child(6) * {
    left: 2px;
    position: relative;
  }

  .compose tr:nth-child(6) input[type="checkbox"] {
    position: relative;
    top: 2px;
  }

  .compose tr:nth-child(6) input[type="checkbox"]:last-of-type {
    margin-bottom: 30px;
  }

  .compose input[aria-label="Attach File"] {
    left: 7px;
    position: relative;
    margin: 0 0 20px 0;
  }

  .compose input[value="Attach More Files"] {
    position: relative;
    left: -4px;
  }

  /* Main email input */
  .compose tr:last-child td:last-child {
    padding: 0 20px !important;
  }
  
  .compose textarea[aria-label="Message Body"] {
    border-radius: 0;
    box-shadow: none;
    padding: 7px 0;
  }

  /* ----------------------- */
  /* Attach more files pages */
  /* ----------------------- */

  /* Buttons at the top */
  td[bgcolor="#eoecff"] table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"][bgcolor="#c3d9ff"]:first-child {
    display: none;
  }

  /* Heading */
  td[bgcolor="#eoecff"] table.h[width="100%"][cellspacing="0"][cellpadding="2"][border="0"] {
    padding-bottom: 25px !important;
    padding-top: 25px !important;
  }

  td[bgcolor="#eoecff"] table.h[width="100%"][cellspacing="0"][cellpadding="2"][border="0"] td br {
    margin-bottom: 15px;
  }

  td[bgcolor="#eoecff"] table.h[width="100%"][cellspacing="0"][cellpadding="2"][border="0"] td font b {
    font-size: 1.25em !important;
  }

  /* Main attach files table */
  table[width="100%"][cellspacing="0"][cellpadding="0"][border="0"] td[bgcolor="#eoecff"]:nth-of-type(2) table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"]:nth-child(3) tr:not(:last-child) td {
    padding: 6px 0 !important;
  }

  table[width="100%"][cellspacing="0"][cellpadding="0"][border="0"] td[bgcolor="#eoecff"]:nth-of-type(2) table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"]:nth-child(3) tr:not(:last-child) td:first-child {
    padding-left: 2px !important;
    padding-right: 15px !important;
    text-align: left !important;
    width: 0;
  }

  table[width="100%"][cellspacing="0"][cellpadding="0"][border="0"] td[bgcolor="#eoecff"]:nth-of-type(2) table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"]:nth-child(3) tr:last-child td:first-child {
    display: none;
    width: 0;
  }

  table[width="100%"][cellspacing="0"][cellpadding="0"][border="0"] td[bgcolor="#eoecff"]:nth-of-type(2) table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"]:nth-child(3) tr:last-child td:last-child {
    height: 53px;
    padding-top: 25px;
    position: relative;
  }

  table[width="100%"][cellspacing="0"][cellpadding="0"][border="0"] td[bgcolor="#eoecff"]:nth-of-type(2) table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"]:nth-child(3) tr:last-child td:last-child input[type="submit"] {
    left: -11px;
    margin-top: 25px;
    position: absolute;
    top: 0;
  }

  /* Buttons at the bottom */
  td[bgcolor="#eoecff"] table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"][bgcolor="#c3d9ff"]:last-child {
    margin-left: -14px;
    padding-top: 25px;
  }

  /* ------------- */
  /* Sent mail box */
  /* ------------- */

  /* Hide heading */
  form[action="?&s=s"] table[width="100%"][cellspacing="0"][cellpadding="2"][border="0"][bgcolor="#C3D9FF"] td:first-child h2 {
    display: none !important;
  }

  /* ----------- */
  /* Drafts page */
  /* ----------- */

  form[action="?&s=d"] a[href="?&s=d"] {
    display: none;
  }

  /* ------------- */
  /* Settings page */
  /* ------------- */
  
  table[summary="general settings"] label + br,
  table[summary="accounts settings"] label + br,
  table[summary="labels settings"] label + br,
  table[summary="forwarding and pop settings"] label + br,
  table[summary="forwarding and pop settings"] span + br,
  table[summary="forwarding and pop settings"] tr:nth-child(3) td:nth-child(2) b:nth-of-type(-n+2) {
    margin-bottom: 15px;
  }

  /* Heading and nav */
  td[bgcolor="#fff7d7"] table[bgcolor="#fad163"] tr:first-child td {
    padding: 15px 0 !important;
  }

  td[bgcolor="#fff7d7"] table[bgcolor="#fad163"] h2 {
    font-size: 1.5em !important;
    padding: 0 8px !important;
  }

  td[bgcolor="#fff7d7"] table[bgcolor="#fad163"] tr:nth-child(2) td {
    padding-bottom: 25px !important;
  }

  td[bgcolor="#fff7d7"] table[bgcolor="#fad163"] tr:nth-child(2) .nav li a {
    color: var(--grey-dark) !important;
    text-decoration: none;
    padding: 0 3px;
  }

  td[bgcolor="#fff7d7"] table[bgcolor="#fad163"] tr:nth-child(2) .nav li.on {
    background: none !important;
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
    padding-bottom: 10px !important;
  }

  /* Main body */
  .prf > table > tbody > tr:not(:last-child) > td {
    border: none;
    border-bottom: 1px solid var(--grey) !important;
    padding-bottom: 25px !important;
    padding-top: 25px !important;
  }

  .prf > table > tbody > tr:last-child > td {
    padding-top: 30px !important;

  }

  .prf input[type="submit"][value="Save Changes"] {
    margin-left: 15px;
  }

  .prf span.s {
    color: var(--grey-dark) !important;;
    font-size: 12px !important;
  }

  .prf select {
    display: block;
  }

  /* General settings */
  table[summary="general settings"] tr:nth-child(2) select {
    margin-top: 10px;
  }
  
  table[summary="general settings"] tr:nth-child(5) div {
    margin-bottom: 10px;
  }
  
  table[summary="general settings"] .prv tr:first-child td {
    padding-bottom: 15px !important;
    padding-top: 20px !important;
  }

  table[summary="general settings"] .prv tr:nth-child(2) td:first-child {
    padding-right: 5px !important;
  }

  table[summary="general settings"] .prv tr:nth-child(3) td {
    padding-top: 5px;
  }

  /* Account settings */
  table[summary="accounts settings"] form b:first-of-type {
    display: inline-block;
    padding: 0 0 20px 0;  
  }
  
  table[summary="accounts settings"] tr:nth-child(2) td:nth-child(2) br:nth-of-type(1),
  table[summary="accounts settings"] tr:nth-child(2) td:nth-child(2) br:nth-of-type(3),
  table[summary="accounts settings"] tr:nth-child(2) td:nth-child(2) br:nth-of-type(4) {
    display: none;
  }
  
  table[summary="accounts settings"] .begin-container-fixed-width {
    width: 100% !important;
  }
  
  table[summary="accounts settings"] .begin-container-fixed-width * {
    float: none !important;
    text-align: left !important;
  }
  
  table[summary="accounts settings"] .begin-container-fixed-width .begin-container:nth-child(-n+5) {
    display: none;
  }
  
  table[summary="accounts settings"] .begin-container-fixed-width .end-container:nth-child(-n+6) {
    display: flex;
    padding-bottom: 15px !important;
  }
  
  table[summary="accounts settings"] .begin-container-fixed-width .end-container:nth-child(-n+6)::before {
    margin-right: 10px;
    white-space: nowrap;
  }
  
  table[summary="accounts settings"] .begin-container-fixed-width .end-container:nth-child(2)::before {
    content: 'Update Name:';
  }
  
  table[summary="accounts settings"] .begin-container-fixed-width .end-container:nth-child(6)::before {
    content: 'Reply-to Address:';
  }
  
  table[summary="accounts settings"] .begin-container-fixed-width .end-container:nth-child(-n+6) input {
    flex-grow: 2;
  }
  
  table[summary="accounts settings"] form .begin-container:last-of-type {
    display: flex;
    justify-content: center;
    padding: 18px 0 10px 0 !important;
    width: 100%;
  }
  
  table[summary="accounts settings"] form .begin-container:last-of-type input {
    padding: 7px 18px;
  }
  
  table[summary="accounts settings"] tr:nth-of-type(3) .begin-container input[type="radio"] {
    margin-bottom: 0;
    margin-top: 3px;
  }
  
	/* Label settings */
  table[summary="labels settings"] tr td:nth-child(2) {
    font-size: 1em !important;
  }

  table[summary="labels settings"] tr:last-child td {
    padding-top: 60px !important;
  }

  table[summary="labels settings"] tr:last-child td br {
    display: none;
  }

  table[summary="labels settings"] tr:last-child td b:first-child {
    margin-right: 15px;
    position: relative;
    top: 3px;
  }
  
  table[summary="labels settings"] tr:last-child input[type="submit"] {
    margin-left: 15px;
  }
  
  /* Filter settings */
  table[summary="filters settings"] tbody {
    display: flex;
    flex-direction: column;
  }
  
  table[summary="filters settings"] tbody td {
/*     max-width: 700px; */
    width: 100vw;
  }
  
  table[summary="filters settings"] tr:last-of-type {
    order: -99;
    padding: 0 0 20px 0 !important;
  }
  
  table[summary="filters settings"] tr:last-of-type input[type="submit"] {
/*     padding: 10px 20px; */
  }
  
  table[summary="filters settings"] tr:nth-of-type(n+3):not(:last-of-type) form {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  table[summary="filters settings"] .end-container-align-begin {
    white-space: nowrap;
  }
  
  /* Forwarding and POP/IMAP */
  table[summary="forwarding and pop settings"] .spacer-line {
    border: none !important;
  }
  
  table[summary="forwarding and pop settings"] select {
    margin: 10px 0;
  }
  
  table[summary="forwarding and pop settings"] tr:nth-child(3) td:nth-child(2) b:nth-of-type(-n+2) {
    display: inline-block;
  }

  /* ------------------- */
  /* Search options page */
  /* ------------------- */

  td[bgcolor="#b5edbc"] table[bgcolor="#74d982"] {
    padding: 25px 0;
  }

  td[bgcolor="#b5edbc"] form[name="asf"] table:not(.h) td {
    color: var(--grey-dark);
    padding: 10px 5px !important;
  }

  td[bgcolor="#b5edbc"] form[name="asf"] table:not(.h) input[type="text"] {
    position: relative;
    top: 3px;
  }

  td[bgcolor="#b5edbc"] form[name="asf"] table:not(.h) select {
    color: var(--black);
  }

  td[bgcolor="#b5edbc"] form[name="asf"] table.h {
    padding-top: 15px !important;
  }

  td[bgcolor="#b5edbc"] form[name="asf"] table.h input[type="submit"][value="Search Mail"] {
    /*! border-radius: 5px; */
    color: white;
    margin-right: 15px;
/*     padding: 8px 20px; */
  }
  
  /* -------------------- */
  /* Create a filter page */
  /* -------------------- */
  
  /* Heading */
  td[width="3"][bgcolor="#fad163"] + td[bgcolor="#fff7d7"] table[bgcolor="#fad163"] tr:first-of-type td {
    padding: 25px 76px 0 76px !important;
  }
  
  td[width="3"][bgcolor="#fad163"] + td[bgcolor="#fff7d7"] table[bgcolor="#fad163"] tr:first-of-type td h2 {
    font-size: 1.5em !important;
    padding: 0 !important;
  }
  
  td[width="3"][bgcolor="#fad163"] + td[bgcolor="#fff7d7"] table[bgcolor="#fad163"]:last-of-type {
    display: none;
  }
  
  /* Rearrange main table */
  table[summary="filters settings"] form[action="./?v=prf"][name="f"][enctype="multipart/form-data"][method="POST"] > .middle-container-padded {
    padding: 0 60px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table[summary="filters settings"] .middle-container-padded > b {
    align-self: start;
  }
  
  table[summary="filters settings"] form[action="./?v=prf"][name="f"][enctype="multipart/form-data"][method="POST"] > .middle-container-padded > br {
    display: none;
  }
  
  table[summary="filters settings"] .middle-container-padded .begin-container-align-end {
    margin-top: 30px !important;
  }
  
  table[summary="filters settings"] .middle-container-padded .begin-container-align-end br {
    margin-bottom: 20px;
  }

  table[summary="filters settings"] .middle-container-padded .begin-container-align-end > br:nth-child(15) {
    margin-bottom: 35px;
  }
  
  table[summary="filters settings"] .middle-container-padded .middle-container {
    margin-top: 30px !important;
  }
  
  table[summary="filters settings"] .middle-container-padded .middle-container br {
    display: none;
  }
  
  /* Choose action */
  table[summary="filters settings"] .middle-container-padded > .middle-container-padded {
/*     background: red; */
    margin: 45px 0 30px 0 !important;
  }
  
  table[summary="filters settings"] .middle-container-padded > .middle-container-padded input[type="checkbox"] {
    position: relative;
    top: -3px;
  }
  
  table[summary="filters settings"] .middle-container-padded > .middle-container-padded select {
    /*! margin-top: 8px; */
    display: inline-block;
  }
  
  table[summary="filters settings"] .middle-container-padded > .middle-container-padded br {
    margin-bottom: 15px !important;
  }
  
  table[summary="filters settings"] .middle-container-padded > .middle-container-padded:nth-child(6) > br:nth-child(20) {
    display: none;
  }
