@-moz-document url-prefix(https://mail.google.com/mail/u/0/h) {
  html {
    --accent-color: #ee6e73;
    --black: #222;
    --grey-very-dark: #424242;
    --grey-dark: #666;
    --grey: #d6d6d6;
    --grey-light: #eeeeee;
    --grey-very-light: #efefef;
    --white: #fafafa;    
/*! --border-spacing: 3px; */
  }
  
  * {
    font-family: "Segoe UI", sans-serif !important;
    font-size: 14px !important;
    /*! margin: 10px; */
  }
  
  body {
    background: var(--white);
    color: var(--black);
  }
     
  /* Links */
  a {
    color: var(--black) !important;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Alerts */
  [role="alert"] {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25), 0px 2px 4px rgba(0,0,0,0.2);
    display: block;
    margin: 5px 0;
    padding: 3px;
  }
  
  /* Nav bar for other Google services at the top of the screen */
  #gbar {
    display: none;
  }
  
  /* Nav bar for Gmail settings, account etc */
  #guser {
    border-bottom: 1px solid var(--grey-light);
    margin: 0 -8px;
    padding: 0 11px;
  }
  
  a.gb4 {
    color: var(--black) !important;
    text-decoration: none !important;
  }
  
  a.gb4:hover {
/*     color: black !important; */
    text-decoration: underline !important;
  }
  
  /* Horizontal divider between the nav bar table and the main content table */
  .gbh {
    display: none;
  }
  
  /* Table containing logo and search bar */
  body > table:nth-of-type(1) {
    margin-bottom: 14px;
    padding: 0 5px;
    position: relative;
  }
  
  body > table:nth-of-type(1)::after {
    background: var(--grey);
    display: block;
    content: '';
    height: 1px;
    margin-left: -13px;
    position: absolute;
    width: calc(100% + 16px);
  }
  
  /* Search bar */
  #sbq {
    background: var(--grey-very-light);
    border: 1px solid var(--grey-very-light);
    border-radius: 4px;
    color: var(--black);
    font-family: "Roboto", sans-serif !important;
    padding: 10px;
    padding-left: 40px;
    transition: 0.1s;
    width: 100%;
    /*! height: 100%; */
  }
  
  #sbq:focus {
    background: var(--white);
    border: 1px solid var(--grey-light);
    box-shadow: 0 1px 1px grey;
  }
  
  
  body > table:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(1) table:nth-of-type(1) {
    margin: 0 auto;
    max-width: 800px;
  }
  
  body > table:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(1) table:nth-of-type(1) tr:nth-of-type(1) td:nth-of-type(1) {
    position: relative;
  }
    
  body > table:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(1) table:nth-of-type(1) tr:nth-of-type(1) td:nth-of-type(1)::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/search_black_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    left: 12px;
    opacity: 0.54;
    position: absolute;
    width: 20px;
  }
  
  body > table:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(1) table:nth-of-type(1) tr:nth-of-type(1) td:nth-of-type(1)::after {
    color: var(--grey-dark);
    content: 'Search mail';
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    left: 40px;
    pointer-events: none;
    position: absolute;
    top: 10px;
  }
  
  body > table:nth-of-type(1) tr:nth-of-type(2) td:nth-of-type(1) table:nth-of-type(1) tr:nth-of-type(1) td:nth-of-type(1):focus-within::after {
    display: none;
  }
  
  .search-form-submit {
    display: none !important;
  }
  
  body > table:first-of-type tbody:first-of-type tr:nth-of-type(2) tr:first-of-type td:first-of-type {
    width: 100%;
  }

  body > table:first-of-type tr:nth-of-type(2) td:nth-of-type(2) {
    padding: 0 10px;
  }
  
  body > table:first-of-type tr:nth-of-type(2) td:nth-of-type(2) a {
    color: var(--grey-dark) !important;
  }
  
  body > table:first-of-type tr:nth-of-type(2) td:nth-of-type(2) a:hover {
/*     color: var(--black) !important; */
  }
  
  /* Compose Mail button */
  a[accesskey="c"] {
    border-radius: 50px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
    display: inline-block;
    margin: 0 0 14px 9px;
    padding: 15px 18px 15px 15px;
  }
  
  a[accesskey="c"]:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302),0 4px 8px 3px rgba(60,64,67,0.149);
  }
  
  a[accesskey="c"]:active {
    background: var(--grey-light);
  }
  
  a[accesskey="c"]:before {
    background-image: url('https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png');
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    margin-right: 5px;
    padding: 17px;
  }
  
  /* Bottom margin of the Compose Mail button */
  body > table:nth-of-type(2) td:nth-of-type(1) table tr:nth-of-type(2) {
    display: none;
  }
  
  /* Mailbox navigation menu */
  body > table:nth-of-type(2) td[width="120"] {
    width: 250px;  
  }
  
  table.m {
    margin-left: -8px;
  }
  
  table.m td {
    padding: 0;
  }
  
  table.m tr:nth-of-type(n+3) a {
    border-radius: 20px !important;
    display: block;
/*     font-family: "Roboto", sans-serif !important; */
/*     font-size: 0.98em !important; */
    padding: 2px 15px;
    padding-left: 28px;
    text-decoration: none;
    transform: translateX(-14px);
  }
  
  table.m tr:nth-of-type(n+3) a:hover {
    background: var(--grey-light);
    text-decoration: none;
  }
  
  table.m tr:nth-of-type(n+2) a::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    content: '';
    display: inline-block;
    height: 20px;
    margin-left: 10px;
    margin-right: 18px;
    opacity: 0.54;
    vertical-align: bottom;
    width: 20px;
  }
  
  table.m tr:nth-of-type(3) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/inbox_black_20dp.png');
  }
  
  table.m tr:nth-of-type(3) td[bgcolor="#C3D9FF"] a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png');
    opacity: 1;
  }
  
  table.m tr:nth-of-type(4) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/grade_black_20dp.png');
  }
  
  table.m tr:nth-of-type(4) a img {
    display: none;
  }
  
  table.m tr:nth-of-type(5) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/send_black_20dp.png');
  }
  
  table.m tr:nth-of-type(6) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/insert_drive_file_black_20dp.png');
  }
  
  table.m tr:nth-of-type(7) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/mail_black_20dp.png');
  }
  
  table.m tr:nth-of-type(8) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/report_black_20dp.png');
  }
  
  table.m tr:nth-of-type(9) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/delete_black_20dp.png');
  }
  
  table.m tr:nth-of-type(11) a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/person_black_20dp.png');
  }
  
  /* Current mailbox */
  body > table:nth-of-type(2) td:nth-of-type(1) table tr:nth-of-type(3) td[bgcolor="#C3D9FF"]:first-of-type a {
    color: #d93025 !important;
    background: #fce8e6;
  }
  
  body > table:nth-of-type(2) td:nth-of-type(1) table tr:nth-of-type(n+4) td[bgcolor="#C3D9FF"]:first-of-type a,
  body > table:nth-of-type(2) td:nth-of-type(1) table tr:nth-of-type(n+4) td[bgcolor="#CCCCCC"]:first-of-type a{
    background: var(--grey);
  }
  
  /* Labels menu */
  table.l {
    margin-left: -8px;
  }
  
  table.l h2,
  table.l br {
    display: none;
  }
  
  table.l a {
    border-radius: 30px;
    display: block;
    margin: 0;
    margin-left: -4px;
    padding: 2px 15px;
    padding-left: 24px;
    text-decoration: none;
    transform: translateX(-12px);
  }
  
  table.l a:hover {
    background: var(--grey-light);
  }
  
  table.l a font {
    color: var(--black);
  }
  
  table.l a::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/label_black_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    content: '';
    display: inline-block;
    height: 20px;
    margin-left: 10px;
    margin-right: 18px;
    opacity: 0.54;
    vertical-align: bottom;
    width: 20px;
  }
  
  table.l .ml::before {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/settings_black_20dp.png');
  }
  
  /* Remove default backgrounds */
  [bgcolor="#C3D9FF"], [bgcolor="#CCCCCC"] {
    background: none;
  }
  
  /* Give margin to main body */
  body > table:nth-of-type(2) tr:nth-of-type(1) td:nth-of-type(2)[valign="top"] {
    padding-right: 20px;
  }
  
  /* Table containing buttons at the top */
  body > table:nth-of-type(2) td:nth-of-type(2) table:first-of-type {
/*     margin-bottom: 4px; */
  }
  
  /* Table containing buttons at the bottom */
  body > table:nth-of-type(2) td:nth-of-type(2) table:nth-of-type(3) {
/*     margin-top: 4px; */
  }
  
  /* Buttons */
/*   input[type="submit"] {
    background: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    color: white;
    cursor: pointer;
    letter-spacing: .5px; 
    margin: 4px 0;
    padding: 8px 16px;
    text-transform: uppercase;
  }
  
  input[type="submit"]:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
    filter: brightness(1.075);
  }
  
  input[type="submit"]:focus {
    filter: brightness(0.95);
  } */
  
  input[type="submit"] {
    background: none;
    border: none;
    border-radius: 100px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    font-weight: 700;
    margin: 0;
    padding: 3px 13px;
    transition: 0.1s;
  }
  
  input[type="submit"]:hover {
    background: #ededed;
    color: #222;
  }
  
  input[type="submit"]:focus {
    filter: brightness(0.8);
  }
  
  /* Dropdown menus */
/*   select {    
    background-color: var(--white);
    color: var(--grey-dark);
    cursor: pointer;
    border: 1px solid var(--grey-light);
    border-radius: 4px;
    padding: 7px 16px;
    text-transform: uppercase;
    -moz-appearance: none;
  } */
  
  select {
    background: none;
    border: none;
    border-radius: 100px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    font-weight: 700;
    margin: 0;
    padding: 2px 0 2px 13px;
    transition: 0.1s;
    -moz-appearance: none;
  }
  
  select:hover {
    background: #ededed;
    color: #222;
  }
  
  /* Refresh button */
  body > table:nth-of-type(2) td:nth-of-type(2) table:first-of-type a.searchPageLink {
    display: none !important;
  }
  
  body > table:nth-of-type(2) td:nth-of-type(2) table:first-of-type td[align="right"] a.searchPageLink {
    display: block !important;
    font-size: 12px !important;
  }
  
  /* Page number */
  body > table:nth-of-type(2) td:nth-of-type(2) table:first-of-type td:nth-of-type(2)[align="right"],
  body > table:nth-of-type(2) td:nth-of-type(2) table:first-of-type td:nth-of-type(2)[align="right"] * {
    color: var(--grey-dark) !important;
    font-size: 0.9em !important;
    font-weight: 400 !important;
  }
  
  /* Main mailbox */
  table.th {
    border-collapse: collapse;
    margin: 10px 0;
  }
  
  /* Individual emails */ 
  table.th tr {
    position: relative;
  }
  
  table.th tr::after {
    border-top: 1px solid var(--grey);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    pointer-events: none;
    top: -1px;
    width: 100%;
  }
  
  table.th tr:last-child::after {
    border-bottom: 1px solid var(--grey);
  }
  
  table.th tr:hover::after {
    box-shadow: inset 1px 0 0 #dadce0,inset -1px 0 0 #dadce0,0 -1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 99;
  }
  
  table.th tr td {
/*! border: 1px solid var(--grey); */ /*
    border-left: none;
    border-right: none; */
    padding: 3px 10px;
  }
  
  table.th tr td * {
    font-family: "Roboto", sans-serif !important;
    letter-spacing: .2px;
  }
  
  /* Empty email row */
  table.th tr td[bgcolor="#ffffff"] {
    background: var(--grey-light);
    display: flex;
    height: 100%;
  }
  
  table.th tr td[bgcolor="#ffffff"]::after {
    color: var(--grey-dark);
    content: 'No emails';
    display: inline-block;
/*     font-family: "Roboto", sans-serif; */
    margin-left: -4px;
    padding: 25px 0;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  /* Hide empty email row only when there are other emails on the page */
  table.th tr:not(:only-child) td[bgcolor="#ffffff"] {
    display: none;
  }
  
  tr:last-child:not([style])::after {
    border-bottom: none !important;
  }
  
  
  /* Unread emails */
  table.th tr[bgcolor="#ffffff"] {
    background: var(--white);
  }
  
  /* Read emails */
  table.th tr[bgcolor="#e8eef7"] {
    background: var(--grey-very-light);
  }
  
  /* Checkbox */
  table.th tr td:nth-of-type(1) img[src="https://ssl.gstatic.com/ui/v1/icons/mail/images/cleardot.gif"] {
    display: none;
  }
  
  /* Starred icon */
  img[src="https://ssl.gstatic.com/ui/v1/icons/mail/images/star_on_2.gif"] {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/star_googyellow500_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 0;
    margin: 0 0 0 5px;
    padding: 10px;
    position: relative;
    top: 1px;
    width: 0;
  }
  
  /* Email sender */
  table.th tr td:nth-child(2) {
    padding-left: 0;
    max-width: 20px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  /* Email subject */
  table.th tr td:nth-child(3) {
    /*! padding-left: 25px; */
    max-width: 200px;
  }
  
   span.ts {
    display: flex !important;
white-space: nowrap;
/*! overflow: hidden; */
text-overflow: ellipsis;
  }  
  
  span.ts *,
  span.ts:first-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  span.ts *:not([color="#7777CC"]) {
/*! background: green !important; */ /*
    color: red !important; */
/*! flex-grow: 2; */
/*! flex-shrink: 9999999; */
/*! width: 100%; */
  }
  
  span.ts font[color="#7777CC"] {
    color: var(--grey-dark);
    flex-shrink: 999999999;
    overflow: hidden;
    padding-left: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  /* Email labels */ 
  table.th tr td:nth-child(3) font[color="#006633"]:not(:empty) {
    background: var(--grey);
    border-radius: 4px;
    color: var(--grey-very-dark);
    font-size: 0.8em !important;
    margin-right: 7px;
    padding: 0 4px;
    position: relative;
    top: 2px;
  }
  
  span.ts font[size="1"] {
    overflow: visible;
  }

    /* Attachment paper clip icon */
  img[src="https://ssl.gstatic.com/ui/v1/icons/mail/images/paperclip.gif"] {
    background-image: url('https://www.gstatic.com/images/icons/material/system/1x/attachment_black_20dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 20px;
    margin-left: 10px;
    object-position: -20px;
    opacity: 0.54;
    width: 20px;
  }
  
  /* Email date */
  table.th tr td:nth-child(4),
  table.th tr td:nth-child(4) b {
    font-size: 12px !important;
  }
  
  /* Bottom of page information */
  table.ft {
    color: var(--grey-dark) !important;
    font-size: 0.9em;
    margin-top: 50px;
    width: 100%
  }
  
  table.ft a {
    color: var(--grey-dark) !important;
    font-size: 0.9em !important;
  }
  
  table.ft tr:nth-of-type(2) td {
    display: flex;
    justify-content: space-between;
    width: 100%
  }
  
  table.ft tr:nth-of-type(2) td * {
    font-size: 0.9em !important;   
  }
  
  table.ft tr:first-of-type {
    display: none;
  }
  
  table.ft tr:nth-of-type(2) td > *:nth-child(3) {
    display: none;
  }
  
  /* Current mailbox usage */
  table.ft tr:nth-of-type(2) td > *:nth-child(1) {
    color: var(--grey-dark) !important;
    font-weight: 400 !important;
    max-width: 150px;
    text-align: left;
  }
  
  /* Other locations the account is open */
  table.ft tr:nth-of-type(2) td > *:nth-child(2) {
    max-width: 250px;
    text-align: right;
  }
  
  table.ft tr:nth-of-type(2) td > *:nth-child(2) a {
    font-size: 1em !important;
  }
  
  table.ft tr:nth-of-type(3) td {
    display: block;
    margin-top: 25px;
  }
}